
// GENERAL CONTAINERS

.full-screen-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
}
.col-left {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
}
.col-right {
    grid-column: 2 / 6;
    grid-row: 1;
}

// MODULE CONTAINERS 

.bio-skillz {
    z-index: 2;
    max-width: 350px;;
    background: $secondary-color;
}

.portfolio {
    margin-left:15%;
    margin-right:15%;
    z-index: 1;
    @media only screen and (max-width: $mobile) {
        & { 
            margin-left:0%;
            margin-right:0%;
        }
    }
}