// VARIABLES
$primary-color: rgba(0, 0, 0, 0.85);
$secondary-color: #f6b93b;
$mobile: 666px;

// FONTS AND ICONS
@import "fonts";
@import "icons";

// GLOBAL
@import "global";
@import "containers";
@import "footer";

// MODULES
@import "overlay";
@import "terminal";
@import "avatar";
@import "call-to-action";